@model BlueBadge.Models.CourseRatingModels.CourseRatingDetail

@{
    ViewBag.Title = "Detail";
}

<h2>Course Rating Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseRatingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseRatingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseRatings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseRatings)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseRatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
