@model IEnumerable<BlueBadge.Models.CourseRatingModels.RatingListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Course Ratings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseRatingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseRatings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePlayed)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseRatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseRatings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePlayed)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseRatingId }) |
                @Html.ActionLink("Details", "Detail", new { id = item.CourseRatingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseRatingId })
            </td>
        </tr>
    }
</table>
<div class="wrapper">
    <img class="nantucket" src="~/Content/ndgcfront.jpg" alt="17 basket" />
</div>
